# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Kill.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub Repos\TPS3DFuuun\Kill\.idea\.idea.Kill\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
